In [1]:
import pandas as pd
import numpy as np

In [2]:
auctions_dtypes = {'auction_type_id': np.float16, 'country': 'category', 'platform': 'category',
                   'ref_type_id': 'category', 'source_id': 'category', 'device_id': 'category'}

auctions = pd.read_csv('auctions.csv', dtype = auctions_dtypes)

auctions.drop('auction_type_id', axis = 1, inplace = True)  #todas Nan

auctions["date"] =  pd.to_datetime(auctions["date"], errors = "coerce")

In [3]:
clicks_dtypes = {'advertiser': np.int8, 'action_id': np.float16, 'source_id': np.int8, 'country_code': 'category',
                 'latitude': np.float16, 'longitude': np.float16, 'carrier_id': np.float16, 'brand': np.float16,
                 'touchX': np.float16, 'touchY': np.float16, 'ref_hash': 'category'}

clicks = pd.read_csv('clicks.csv', dtype = clicks_dtypes)

clicks.drop('action_id', axis = 1, inplace = True) #todos NaN
clicks.drop('wifi_connection', axis = 1, inplace = True) #todos False

clicks["created"] =  pd.to_datetime(clicks["created"], errors = "coerce") #parseo de fechas

In [4]:
clicks.head(1)

,advertiser_id,source_id,created,country_code,latitude,longitude,carrier_id,trans_id,os_minor,agent_device,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash
0,2,4,2019-03-06 22:42:12.755,6333597102633388268,1.206055,1.070312,1.0,iGgClCM9exiHF4K31g94XmvHEBSLKIY,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,1.563,0.904785,0.078003,1891515180541284343,1904083516767779093

In [5]:
auctions['source_id'].value_counts()

0    13354597
1     4016739
5     1466494
2      582083
6      151406
Name: source_id, dtype: int64

In [27]:
clicks.loc[clicks['ref_hash']== '4063522808706112974'].head(4)

,advertiser_id,source_id,created,country_code,latitude,longitude,carrier_id,trans_id,os_minor,agent_device,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash
130,3,0,2019-03-07 23:29:13.617,6333597102633388268,1.206055,1.070312,6.0,RcMoGv9oLfpzkpmUKwyj3GeF6RUalWE,5.975656e+18,NaN,3.072849e+18,392184377613098015,NaN,2.927,0.917969,0.068970,1891515180541284343,4063522808706112974
215,3,0,2019-03-07 23:59:09.969,6333597102633388268,1.206055,1.070312,6.0,_n6W8pe5-DyzcWjAyx_1Ir2MrGofV8o,5.975656e+18,NaN,3.072849e+18,392184377613098015,NaN,281.442,0.872070,0.109985,1891515180541284343,4063522808706112974
643,3,0,2019-03-08 00:04:11.194,6333597102633388268,1.206055,1.070312,6.0,zv6mw0gkpo22AL3deRc0VvTkeubn-0k,5.975656e+18,NaN,3.072849e+18,392184377613098015,NaN,299.161,0.883789,0.406006,1891515180541284343,4063522808706112974
1991,3,0,2019-03-08 10:24:47.814,6333597102633388268,1.206055,1.070312,6.0,FMEDuvfm-pllraU6dtn8vKNQGNZMgYU,5.975656e+18,NaN,3.072849e+18,392184377613098015,NaN,6.387,0.819824,0.342041,1891515180541284343,4063522808706112974

In [10]:
clicks['ref_hash'].value_counts().head(3)

4063522808706112974    41
6841615430383729819    32
1244272413279716745    26
Name: ref_hash, dtype: int64

In [28]:
auctions.loc[auctions['device_id'] == '4063522808706112974']

,country,date,device_id,platform,ref_type_id,source_id
1655,6333597102633388268,2019-03-11 14:14:52.170506,4063522808706112974,1,1,0
1665,6333597102633388268,2019-03-11 14:15:03.789245,4063522808706112974,1,1,0
2192,6333597102633388268,2019-03-11 14:14:09.838105,4063522808706112974,1,1,0
2498,6333597102633388268,2019-03-11 14:21:01.879003,4063522808706112974,1,1,0
4095,6333597102633388268,2019-03-11 13:57:53.254093,4063522808706112974,1,1,0
5703,6333597102633388268,2019-03-11 14:20:51.915593,4063522808706112974,1,1,0
6268,6333597102633388268,2019-03-11 14:15:16.714159,4063522808706112974,1,1,0
12520,6333597102633388268,2019-03-12 02:59:54.704551,4063522808706112974,1,1,0
15561,6333597102633388268,2019-03-12 03:27:57.888289,4063522808706112974,1,1,0
27730,6333597102633388268,2019-03-07 14:27:41.382050,4063522808706112974,1,1,0
28833,6333597102633388268,2019-03-07 14:04:38.386425,4063522808706112974,1,1,0
31079,6333597102633388268,2019-03-07 14:01:34.799761,4063522808706112974,1,1,0
31276,6333597102633388268,2019-03-07 14:04:30.440935,4063522808706112974,1,1,0
31614,6333597102633388268,2019-03-07 14:46:47.262589,4063522808706112974,1,1,0
35838,6333597102633388268,2019-03-07 14:00:19.861870,4063522808706112974,1,1,0
36604,6333597102633388268,2019-03-07 14:46:45.660698,4063522808706112974,1,1,0
36626,6333597102633388268,2019-03-07 14:47:04.586819,4063522808706112974,1,1,0
43380,6333597102633388268,2019-03-07 14:01:03.987771,4063522808706112974,1,1,0
44525,6333597102633388268,2019-03-07 14:01:04.288402,4063522808706112974,1,1,0
49239,6333597102633388268,2019-03-07 14:46:58.609065,4063522808706112974,1,1,0
58233,6333597102633388268,2019-03-08 21:54:17.261588,4063522808706112974,1,1,0
61640,6333597102633388268,2019-03-08 21:59:08.222124,4063522808706112974,1,1,0
64867,6333597102633388268,2019-03-08 22:04:13.092584,4063522808706112974,1,1,0
66896,6333597102633388268,2019-03-08 22:09:10.721190,4063522808706112974,1,1,0
69353,6333597102633388268,2019-03-08 22:29:12.906684,4063522808706112974,1,1,0
70498,6333597102633388268,2019-03-08 22:39:42.573449,4063522808706112974,1,1,0
70778,6333597102633388268,2019-03-08 22:42:24.301753,4063522808706112974,1,1,0
71868,6333597102633388268,2019-03-08 22:39:40.722180,4063522808706112974,1,1,0
75260,6333597102633388268,2019-03-08 22:34:14.726627,4063522808706112974,1,1,0
75698,6333597102633388268,2019-03-08 21:59:08.410147,4063522808706112974,1,1,0
...,...,...,...,...,...,...
19287519,6333597102633388268,2019-03-11 13:27:12.795376,4063522808706112974,1,1,0
19288694,6333597102633388268,2019-03-11 13:42:10.930874,4063522808706112974,1,1,0
19288832,6333597102633388268,2019-03-11 13:46:13.323393,4063522808706112974,1,1,0
19316514,6333597102633388268,2019-03-09 15:56:35.845470,4063522808706112974,1,1,0
19367772,6333597102633388268,2019-03-11 17:04:57.247292,4063522808706112974,1,1,0
19369355,6333597102633388268,2019-03-11 16:59:29.547474,4063522808706112974,1,1,0
19371237,6333597102633388268,2019-03-11 17:03:49.747080,4063522808706112974,1,1,0
19371244,6333597102633388268,2019-03-11 17:03:56.744965,4063522808706112974,1,1,0
19393931,6333597102633388268,2019-03-12 15:15:50.460386,4063522808706112974,1,1,0
19426133,6333597102633388268,2019-03-12 03:23:53.613382,4063522808706112974,1,1,0
19426384,6333597102633388268,2019-03-12 03:00:34.917036,4063522808706112974,1,1,0
19426483,6333597102633388268,2019-03-12 03:03:07.998290,4063522808706112974,1,1,0
19430864,6333597102633388268,2019-03-13 05:08:09.739375,4063522808706112974,1,1,0
19431054,6333597102633388268,2019-03-13 05:07:44.805734,4063522808706112974,1,1,0
19519623,6333597102633388268,2019-03-12 11:56:44.211304,4063522808706112974,1,1,0
19519755,6333597102633388268,2019-03-12 11:26:56.955534,4063522808706112974,1,1,0
19522232,6333597102633388268,2019-03-12 11:41:32.733862,4063522808706112974,1,1,0
19525065,6333597102633388268,2019-03-12 11:26:54.637440,4063522808706112974,1,1,0
19525066,6333597102633388268,2019-03-12 11:26:55.234700,4063522808706112974,1,1,0
19526313,6333597102633388268,2019-03-12 11:27:39.577917,4063522808706112974,1,1,0
19526788,6333597102633388268,2019-03-12 11:41:29.955477,4063522808706112974,1,1,0
19526789,6333597102633388268,2019-03-12 11:41:31.087272,4063522808706112974,1,1,0
19527650,6333597102633388268,2019-03-12 11:31:29.197059,4063522808706112974,1,1,0
19533016,6333597102633388268,2019-03-12 16:42:19.950870,4063522808706112974,1,1,0
19533354,6333597102633388268,2019-03-12 16:50:09.813139,4063522808706112974,1,1,0
19545627,6333597102633388268,2019-03-12 16:55:10.767710,4063522808706112974,1,1,0
19547476,6333597102633388268,2019-03-12 17:15:16.331838,4063522808706112974,1,1,0
19550384,6333597102633388268,2019-03-12 17:00:16.182365,4063522808706112974,1,1,0
19555831,6333597102633388268,2019-03-12 17:17:17.014764,4063522808706112974,1,1,0
19555832,6333597102633388268,2019-03-12 17:17:17.090459,4063522808706112974,1,1,0

In [11]:
auctions['device_id'].value_counts().head(5)

633139769114048761     27762
7202276635029175071    23055
7298861376107043945    18188
6302840482782120473    16400
5376802567578262905    16367
Name: device_id, dtype: int64

In [14]:
auctions['device_id'].value_counts()

633139769114048761     27762
7202276635029175071    23055
7298861376107043945    18188
6302840482782120473    16400
5376802567578262905    16367
8963711959081981780    14362
795159065504552200     12275
6841615430383729819    12077
5384039226444052914    11632
3198179064438296471    11565
519658456951133298     10541
2435544514359302887    10274
8751190726444323885    10256
1835469468095030098    10121
1800317677967270083    10036
9027154272484048876     9958
7574657722181550308     9767
5051610571898428259     9642
320899491737875154      9388
8292793494956750501     9315
201759600719985554      9158
8021195662481548645     9128
7650408579713341483     9020
6392567838173461255     8994
1478017482044456084     8839
6203407103275384250     8823
68016455690089173       8809
8496718680483076445     8682
8491787427844905567     8513
4834359787191717922     8495
                       ...
5965915879234710356        1
5962371857976871552        1
8775830221902480502        1
6400673246409330938        1
8848059905278451239        1
2387472711882692396        1
6919864391159784728        1
6918436643991280288        1
1265394499505454114        1
1192257502202972678        1
9203091890242370281        1
116130905366082001         1
6746874540432696049        1
2349117575888212633        1
3115384134991732020        1
6658609489857321554        1
6703916290356312366        1
3122486780808724561        1
9128287699651516130        1
9090768995352915488        1
9043530082076844214        1
8981735392801911779        1
3142217809159395792        1
6583122778867177908        1
6552357094313704           1
8900190054383012348        1
6516634122275645386        1
8850035083239840651        1
6420983180219968660        1
954913365148193776         1
Name: device_id, Length: 206977, dtype: int64